* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilos del Header y del Nav*/
.marca {
  width: auto;
  height: 80px;
}
.navbar {
  background-color: white;
  box-shadow: 0 2px 8px 0 #0002;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  color: black;
  font-size: 25px;
  transition: grey 0.5s;
  font-family: 'Franklin Gothic Medium';
}
.nav-link :hover {
  color: grey;
}
.fondo-gris {
  background-color: #dfdbda;
}

/*Estilos del Body*/
.no-scroll {
  overflow-x: hidden;
}
.titulo-L {
  font-family: 'Franklin Gothic Medium';
  font-size: 5rem;
  text-align: center;
  margin-top: 90px;
}

.volquete1 {
  object-fit: cover;
  width: 100%;
}

.titulo-l {
  font-family: 'Franklin Gothic ';
  font-size: 5rem;
  text-align: center;
  margin-top: 60px;
}
.card {
  box-shadow: 0 2px 8px 0 #0002;
}
.centralizacion-elementos-contacto {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
}
.carousel-item {
  width: 650px;
  height: 450px;
  margin-top: 30px;
  margin-left: 360px;
}

/* .servicios {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
} */

/* .service {
  width: 900px;
  height: 600px;
} */
.img-fluid {
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}
/* .serviceColumn {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
} */
.fondo-blanco {
  background-color: white;
}
/*Estilos de la seccion QUIENES SOMOS*/
.titulo-M {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline red;
}
.card-text {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 21px;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 80%;
}
.text-strong {
  font-size: 2rem;
  text-align: center;
}
/*Estilos de Contacto*/
.contactenos {
  text-align: left;
}
.contacto {
  display: flex;
  flex-direction: row;
}
.contactext {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 21px;
  margin-bottom: 65px;
  line-height: 1.2em;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
.email {
  display: inline-block;
  font-size: x-large;
}
.conversacion {
  color: black;
}
.telefono-wsp {
  margin-top: 6px;
  display: inline-block;
  font-size: x-large;
}
.bi {
  color: black;
  font-size: 35px;
}
.seguinos {
  margin-top: 6px;
  display: inline-block;
  font-size: x-large;
}

.mapa {
  height: 500px;
  width: 500px;
  bottom: 270px;
  left: 700px;
}
.shadow-elements-footer {
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
}
.container-5-1 {
  display: flex;
  flex-wrap: nowrap;
}
.formcolumns {
  display: flex;
  flex-direction: column;
}
/*Estilos del Footer*/
.piedepagina {
  text-align: center;
  color: black;
  background-color: white;
  box-shadow: 0 2px 8px 0 #0002;
  font-family: 'Franklin Gothic Medium';
  font-size: 35px;
  width: 100%;
}

/*-----------------Creando el Responsive--------------------*/
/*Media Quaries para Tablet*/
@media screen and (max-width: 768px) {
  .body {
    height: auto;
  }
  .mArca {
    width: 25rem;
    height: 10rem;
    margin-left: 200px;
    margin-top: 30px;
  }
  .titulo-L {
    font-family: 'Roboto+Condensed';
    font-size: 60px;
    text-align: center;
  }
  /* Estilo de los Titulos  */
  .titulo-l {
    font-family: 'Roboto+Condensed';
    font-size: 60px;
    text-align: center;
  }
  .titulo-M {
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline red;
  }

  .caras-visibles {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 25px;
  }
  /* Estilo de los Textos */
  .presentacion {
    font-family: 'Oswald';
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
  }
  .contactext {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 65px;
    line-height: 1.2em;
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
  }
  .carousel-item {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 100px;
    width: 550px;
    height: 350px;
  }
  .contactenos {
    text-align: center;
    margin-bottom: 300px;
  }
  .container-5-1 {
    display: grid;
    grid-template-rows: 50%;
  }
  .contacts {
    margin-left: 260px;
  }
  .telefono-wsp {
    margin-top: 3px;
    display: inline-block;
    font-size: 22px;
  }
  .bi {
    color: black;
    font-size: 22px;
  }
  .seguinos {
    margin-top: 3px;
    display: inline-block;
    font-size: 22px;
  }
  .formcolumns {
    display: flex;
    flex-direction: column;
  }
  .mapa {
    justify-content: center;
    margin-left: 45px;
    height: 250px;
    width: 650px;
    bottom: 135px;
    left: 350px;
  }
}
/*Media Quaries para Mobile*/
@media screen and (max-width: 425px) {
  .mArca {
    width: auto;
    height: 80%;
  }

  .titulo-L {
    font-family: 'Roboto+Condensed';
    font-size: 40px;
  }

  .caras-visibles {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 25px;
  }

  .presentacion {
    font-family: 'Oswald';
    font-size: 40px;
    margin-left: 220px;
    margin-top: 25px;
  }
  .text-2 {
    margin-left: 150px;
    width: 300px;
  }
  .tItulo-2 {
    font-family: 'Roboto+Condensed';
    font-size: 50px;
    margin-top: 60px;
  }

  .carousel {
    width: 450px;
    height: 450px;
    right: 320px;
    margin-top: 30px;
  }
  .contactenos {
    margin-left: 140px;
  }
  .titUlo3 {
    font-size: 45px;
  }
  .telefono-wsp {
    margin-top: 3px;
    display: inline-block;
    font-size: 35px;
  }
  .bi {
    color: black;
    font-size: 35px;
  }
  .seguinos {
    margin-top: 3px;
    display: inline-block;
    font-size: 35px;
  }
  .maPa {
    object-fit: cover;
    width: 135%;
  }
}
